## **Data Loading and Cleaning**

In [33]:
import pandas as pd
import numpy as np

In [34]:
file_path = '../Data/HotelCustomersDataset.xlsx'
hotel_df = pd.read_excel(file_path)

In [35]:
hotel_df.head(5)

,ID,Nationality,Age,DaysSinceCreation,NameHash,DocIDHash,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,...,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
0,1,PRT,51.0,150,0x8E0A7AF39B633D5EA25C3B7EF4DFC5464B36DB7AF375...,0x71568459B729F7A7ABBED6C781A84CA4274D571003AC...,45,371.0,105.3,1,...,0,0,0,0,0,0,0,0,0,0
1,2,PRT,NaN,1095,0x21EDE41906B45079E75385B5AA33287CA09DE1AB86DE...,0x5FA1E0098A31497057C5A6B9FE9D49FD6DD47CCE7C26...,61,280.0,53.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,DEU,31.0,1095,0x31C5E4B74E23231295FDB724AD578C02C4A723F4BA2B...,0xC7CF344F5B03295037595B1337AC905CA188F1B5B3A5...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,FRA,60.0,1095,0xFF534C83C0EF23D1CE516BC80A65D0197003D27937D4...,0xBD3823A9B4EC35D6CAF4B27AE423A677C0200DB61E82...,93,240.0,60.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51.0,1095,0x9C1DEF02C9BE242842C1C1ABF2C5AA249A1EEB4763B4...,0xE175754CF77247B202DD0820F49407C762C14A603B3A...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
hotel_df.columns

Index(['ID', 'Nationality', 'Age', 'DaysSinceCreation', 'NameHash',
       'DocIDHash', 'AverageLeadTime', 'LodgingRevenue', 'OtherRevenue',
       'BookingsCanceled', 'BookingsNoShowed', 'BookingsCheckedIn',
       'PersonsNights', 'RoomNights', 'DaysSinceLastStay',
       'DaysSinceFirstStay', 'DistributionChannel', 'MarketSegment',
       'SRHighFloor', 'SRLowFloor', 'SRAccessibleRoom', 'SRMediumFloor',
       'SRBathtub', 'SRShower', 'SRCrib', 'SRKingSizeBed', 'SRTwinBed',
       'SRNearElevator', 'SRAwayFromElevator', 'SRNoAlcoholInMiniBar',
       'SRQuietRoom'],
      dtype='object')

In [37]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83590 entries, 0 to 83589
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    83590 non-null  int64
 1   Nationality           83590 non-null  object
 2   Age                   79811 non-null  float64
 3   DaysSinceCreation     83590 non-null  int64
 4   NameHash              83590 non-null  object
 5   DocIDHash             83590 non-null  object
 6   AverageLeadTime       83590 non-null  int64
 7   LodgingRevenue        83590 non-null  float64
 8   OtherRevenue          83590 non-null  float64
 9   BookingsCanceled      83590 non-null  int64
 10  BookingsNoShowed      83590 non-null  int64
 11  BookingsCheckedIn     83590 non-null  int64
 12  PersonsNights         83590 non-null  int64
 13  RoomNights            83590 non-null  int64
 14  DaysSinceLastStay     83590 non-null  int64
 15  DaysSinceFirstStay    83590 non-null  int64
 16  DistributionChannel   83590 non-null  object
 17  MarketSegment         83590 non-null  object
 18  SRHighFloor           83590 non-null  int64
 19  SRLowFloor            83590 non-null  int64
 20  SRAccessibleRoom      83590 non-null  int64
 21  SRMediumFloor         83590 non-null  int64
 22  SRBathtub             83590 non-null  int64
 23  SRShower              83590 non-null  int64
 24  SRCrib                83590 non-null  int64
 25  SRKingSizeBed         83590 non-null  int64
 26  SRTwinBed             83590 non-null  int64
 27  SRNearElevator        83590 non-null  int64
 28  SRAwayFromElevator    83590 non-null  int64
 29  SRNoAlcoholInMiniBar  83590 non-null  int64
 30  SRQuietRoom           83590 non-null  int64
dtypes: float64(3), int64(23), object(5)
memory usage: 19.8+ MB

In [38]:
hotel_df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,83590.0,41795.500000,24130.498838,1.0,20898.25,41795.5,62692.750,83590.00
Age,79811.0,45.398028,16.572368,-11.0,34.00,46.0,57.000,122.00
DaysSinceCreation,83590.0,453.640902,313.390291,0.0,177.00,397.0,723.000,1095.00
AverageLeadTime,83590.0,66.196028,87.758990,-1.0,0.00,29.0,103.000,588.00
LodgingRevenue,83590.0,298.802087,372.851892,0.0,59.00,234.0,402.000,21781.00
OtherRevenue,83590.0,67.589132,114.327776,0.0,2.00,38.5,87.675,7730.25
BookingsCanceled,83590.0,0.002022,0.066770,0.0,0.00,0.0,0.000,9.00
BookingsNoShowed,83590.0,0.000634,0.029545,0.0,0.00,0.0,0.000,3.00
BookingsCheckedIn,83590.0,0.794617,0.695778,0.0,1.00,1.0,1.000,66.00
PersonsNights,83590.0,4.649133,4.567673,0.0,1.00,4.0,6.000,116.00
RoomNights,83590.0,2.358536,2.281746,0.0,1.00,2.0,4.000,185.00
DaysSinceLastStay,83590.0,401.067137,347.204955,-1.0,26.00,366.0,693.000,1104.00
DaysSinceFirstStay,83590.0,403.349013,347.971089,-1.0,27.00,369.0,697.000,1186.00
SRHighFloor,83590.0,0.047482,0.212668,0.0,0.00,0.0,0.000,1.00
SRLowFloor,83590.0,0.001412,0.037546,0.0,0.00,0.0,0.000,1.00
SRAccessibleRoom,83590.0,0.000251,0.015848,0.0,0.00,0.0,0.000,1.00
SRMediumFloor,83590.0,0.000873,0.029539,0.0,0.00,0.0,0.000,1.00
SRBathtub,83590.0,0.002847,0.053284,0.0,0.00,0.0,0.000,1.00
SRShower,83590.0,0.001711,0.041326,0.0,0.00,0.0,0.000,1.00
SRCrib,83590.0,0.013219,0.114213,0.0,0.00,0.0,0.000,1.00
SRKingSizeBed,83590.0,0.352686,0.477809,0.0,0.00,0.0,1.000,1.00
SRTwinBed,83590.0,0.142541,0.349606,0.0,0.00,0.0,0.000,1.00
SRNearElevator,83590.0,0.000335,0.018299,0.0,0.00,0.0,0.000,1.00
SRAwayFromElevator,83590.0,0.003505,0.059101,0.0,0.00,0.0,0.000,1.00
SRNoAlcoholInMiniBar,83590.0,0.000120,0.010937,0.0,0.00,0.0,0.000,1.00
SRQuietRoom,83590.0,0.088372,0.283837,0.0,0.00,0.0,0.000,1.00

In [39]:
# Rename column names to snake_case for convenience.
hotel_df.columns = (
    hotel_df.columns
    .str.replace('([a-z])([A-Z])', r'\1_\2', regex=True)
    .str.replace('([A-Z]+)([A-Z][a-z])', r'\1_\2', regex=True)
    .str.lower()
    .str.strip('_')
)

In [41]:
# Check for duplicates in `id` column to ensure customer id can be used as key and has no duplicates.
hotel_df['id'].duplicated().sum()

np.int64(0)

In [44]:
# Check for null values in all columns.
hotel_df.isnull().sum()

id                              0
nationality                     0
age                          3779
days_since_creation             0
name_hash                       0
doc_id_hash                     0
average_lead_time               0
lodging_revenue                 0
other_revenue                   0
bookings_canceled               0
bookings_no_showed              0
bookings_checked_in             0
persons_nights                  0
room_nights                     0
days_since_last_stay            0
days_since_first_stay           0
distribution_channel            0
market_segment                  0
sr_high_floor                   0
sr_low_floor                    0
sr_accessible_room              0
sr_medium_floor                 0
sr_bathtub                      0
sr_shower                       0
sr_crib                         0
sr_king_size_bed                0
sr_twin_bed                     0
sr_near_elevator                0
sr_away_from_elevator           0
sr_no_alcohol_in_mini_bar       0
sr_quiet_room                   0
dtype: int64

In [55]:
# Examine negative values for age
# Replace with null if data is invalid or misrepresenting
hotel_df.loc[hotel_df['age'] < 0, 'age'].unique()

array([ -7.,  -9., -11., -10.,  -6.,  -1.])

In [69]:
hotel_df.loc[hotel_df['age'] < 0, 'age'] = np.nan

In [59]:
if hotel_df['age'].dropna().apply(float.is_integer).all():
    hotel_df['age'] = hotel_df['age'].astype('Int64')

TypeError: descriptor 'is_integer' for 'float' objects doesn't apply to a 'int' object

In [61]:
hotel_df.head()

,id,nationality,age,days_since_creation,name_hash,doc_id_hash,average_lead_time,lodging_revenue,other_revenue,bookings_canceled,...,sr_medium_floor,sr_bathtub,sr_shower,sr_crib,sr_king_size_bed,sr_twin_bed,sr_near_elevator,sr_away_from_elevator,sr_no_alcohol_in_mini_bar,sr_quiet_room
0,1,PRT,51,150,0x8E0A7AF39B633D5EA25C3B7EF4DFC5464B36DB7AF375...,0x71568459B729F7A7ABBED6C781A84CA4274D571003AC...,45,371.0,105.3,1,...,0,0,0,0,0,0,0,0,0,0
1,2,PRT,<NA>,1095,0x21EDE41906B45079E75385B5AA33287CA09DE1AB86DE...,0x5FA1E0098A31497057C5A6B9FE9D49FD6DD47CCE7C26...,61,280.0,53.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,DEU,31,1095,0x31C5E4B74E23231295FDB724AD578C02C4A723F4BA2B...,0xC7CF344F5B03295037595B1337AC905CA188F1B5B3A5...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,FRA,60,1095,0xFF534C83C0EF23D1CE516BC80A65D0197003D27937D4...,0xBD3823A9B4EC35D6CAF4B27AE423A677C0200DB61E82...,93,240.0,60.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51,1095,0x9C1DEF02C9BE242842C1C1ABF2C5AA249A1EEB4763B4...,0xE175754CF77247B202DD0820F49407C762C14A603B3A...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
# Set display option for Pandas DataFrame to show two decimal places for `lodging_revenue` and `other_revenue`
pd.options.display.float_format = '{:.2f}'.format

In [71]:
# Check for inconsistent encodings in categorical variables
categorical_columns = ['distribution_channel', 'market_segment', 'nationality']
for col in categorical_columns:
    print(f"Unique values in {col}:")
    print(hotel_df[col].unique())

Unique values in distribution_channel:
['Corporate' 'Travel Agent/Operator' 'Direct' 'Electronic Distribution']
Unique values in market_segment:
['Corporate' 'Travel Agent/Operator' 'Other' 'Direct' 'Complementary'
 'Groups' 'Aviation']
Unique values in nationality:
['PRT' 'DEU' 'FRA' 'JPN' 'IRL' 'ESP' 'BEL' 'NLD' 'AUT' 'ITA' 'CHN' 'RUS'
 'POL' 'USA' 'HUN' 'CRI' 'MEX' 'CHE' 'ROU' 'GBR' 'BIH' 'BRA' 'FIN' 'AGO'
 'CAN' 'ZAF' 'TWN' 'GRC' 'AUS' 'ISR' 'BGR' 'SAU' 'SWE' 'CYP' 'ARG' 'ARM'
 'CHL' 'MAR' 'MOZ' 'KOR' 'TUN' 'DNK' 'NOR' 'MYS' 'EGY' 'IND' 'HRV' 'CPV'
 'JOR' 'COD' 'DZA' 'LUX' 'TUR' 'IRN' 'LBY' 'PAN' 'COL' 'VEN' 'GNB' 'CZE'
 'AND' 'SVN' 'PER' 'ATF' 'UGA' 'AZE' 'NZL' 'LTU' 'SRB' 'EST' 'KAZ' 'KWT'
 'IDN' 'UKR' 'SVK' 'MLI' 'ARE' 'BGD' 'THA' 'TZA' 'LVA' 'PHL' 'BHR' 'NAM'
 'BOL' 'SGP' 'CMR' 'MLT' 'URY' 'PAK' 'JAM' 'ECU' 'SYC' 'QAT' 'PRY' 'BRB'
 'OMN' 'TMP' 'ABW' 'LBN' 'AIA' 'SLV' 'DMA' 'CUB' 'VNM' 'GEO' 'IRQ' 'GAB'
 'PYF' 'LIE' 'SEN' 'BLR' 'ISL' 'DOM' 'GUY' 'LCA' 'ATA' 'NGA' 'RWA' 'CIV'
 'ALB' 'MKD' 'MNE' 'GTM' 'GHA' 'MDV' 'MCO' 'MUS' 'SYR' 'TGO' 'LKA' 'SUR'
 'KEN' 'MRT' 'HKG' 'CAF' 'NCL' 'STP' 'UZB' 'KIR' 'SDN' 'PRI' 'KNA' 'TJK'
 'SLE' 'LAO' 'COM' 'ETH' 'FRO' 'BEN' 'ZWE' 'ASM' 'BWA' 'ERI' 'SPM' 'JEY'
 'GNQ' 'MDG' 'GIN' 'NIC' 'SWZ' 'CYM' 'SOM' 'ATG' 'KGZ' 'FLK' 'GIB' 'BHS'
 'SMR' 'UMI' 'HTI' 'TKM' 'PNG' 'MMR' 'WLF' 'WSM' 'IOT' 'VIR' 'NRU' 'MWI'
 'VCT' 'GUF' 'PCN' 'FJI' 'TON' 'TCD' 'YEM' 'NPL']

In [72]:
# Remove unnecessary columns
hotel_df.drop(['name_hash', 'doc_id_hash'], axis=1, inplace=True)