## **Data Loading and Cleaning**

In [157]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [158]:
file_path = '../Data/HotelCustomersDataset.xlsx'
hotel_df = pd.read_excel(file_path)

In [159]:
hotel_df.head(5)

,ID,Nationality,Age,DaysSinceCreation,NameHash,DocIDHash,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,...,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
0,1,PRT,51.00,150,0x8E0A7AF39B633D5EA25C3B7EF4DFC5464B36DB7AF375...,0x71568459B729F7A7ABBED6C781A84CA4274D571003AC...,45,371.00,105.30,1,...,0,0,0,0,0,0,0,0,0,0
1,2,PRT,NaN,1095,0x21EDE41906B45079E75385B5AA33287CA09DE1AB86DE...,0x5FA1E0098A31497057C5A6B9FE9D49FD6DD47CCE7C26...,61,280.00,53.00,0,...,0,0,0,0,0,0,0,0,0,0
2,3,DEU,31.00,1095,0x31C5E4B74E23231295FDB724AD578C02C4A723F4BA2B...,0xC7CF344F5B03295037595B1337AC905CA188F1B5B3A5...,0,0.00,0.00,0,...,0,0,0,0,0,0,0,0,0,0
3,4,FRA,60.00,1095,0xFF534C83C0EF23D1CE516BC80A65D0197003D27937D4...,0xBD3823A9B4EC35D6CAF4B27AE423A677C0200DB61E82...,93,240.00,60.00,0,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51.00,1095,0x9C1DEF02C9BE242842C1C1ABF2C5AA249A1EEB4763B4...,0xE175754CF77247B202DD0820F49407C762C14A603B3A...,0,0.00,0.00,0,...,0,0,0,0,0,0,0,0,0,0

In [160]:
hotel_df.columns

Index(['ID', 'Nationality', 'Age', 'DaysSinceCreation', 'NameHash',
       'DocIDHash', 'AverageLeadTime', 'LodgingRevenue', 'OtherRevenue',
       'BookingsCanceled', 'BookingsNoShowed', 'BookingsCheckedIn',
       'PersonsNights', 'RoomNights', 'DaysSinceLastStay',
       'DaysSinceFirstStay', 'DistributionChannel', 'MarketSegment',
       'SRHighFloor', 'SRLowFloor', 'SRAccessibleRoom', 'SRMediumFloor',
       'SRBathtub', 'SRShower', 'SRCrib', 'SRKingSizeBed', 'SRTwinBed',
       'SRNearElevator', 'SRAwayFromElevator', 'SRNoAlcoholInMiniBar',
       'SRQuietRoom'],
      dtype='object')

In [161]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83590 entries, 0 to 83589
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    83590 non-null  int64
 1   Nationality           83590 non-null  object
 2   Age                   79811 non-null  float64
 3   DaysSinceCreation     83590 non-null  int64
 4   NameHash              83590 non-null  object
 5   DocIDHash             83590 non-null  object
 6   AverageLeadTime       83590 non-null  int64
 7   LodgingRevenue        83590 non-null  float64
 8   OtherRevenue          83590 non-null  float64
 9   BookingsCanceled      83590 non-null  int64
 10  BookingsNoShowed      83590 non-null  int64
 11  BookingsCheckedIn     83590 non-null  int64
 12  PersonsNights         83590 non-null  int64
 13  RoomNights            83590 non-null  int64
 14  DaysSinceLastStay     83590 non-null  int64
 15  DaysSinceFirstStay    83590 non-null  int64
 16  DistributionChannel   83590 non-null  object
 17  MarketSegment         83590 non-null  object
 18  SRHighFloor           83590 non-null  int64
 19  SRLowFloor            83590 non-null  int64
 20  SRAccessibleRoom      83590 non-null  int64
 21  SRMediumFloor         83590 non-null  int64
 22  SRBathtub             83590 non-null  int64
 23  SRShower              83590 non-null  int64
 24  SRCrib                83590 non-null  int64
 25  SRKingSizeBed         83590 non-null  int64
 26  SRTwinBed             83590 non-null  int64
 27  SRNearElevator        83590 non-null  int64
 28  SRAwayFromElevator    83590 non-null  int64
 29  SRNoAlcoholInMiniBar  83590 non-null  int64
 30  SRQuietRoom           83590 non-null  int64
dtypes: float64(3), int64(23), object(5)
memory usage: 19.8+ MB

In [162]:
hotel_df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,83590.00,41795.50,24130.50,1.00,20898.25,41795.50,62692.75,83590.00
Age,79811.00,45.40,16.57,-11.00,34.00,46.00,57.00,122.00
DaysSinceCreation,83590.00,453.64,313.39,0.00,177.00,397.00,723.00,1095.00
AverageLeadTime,83590.00,66.20,87.76,-1.00,0.00,29.00,103.00,588.00
LodgingRevenue,83590.00,298.80,372.85,0.00,59.00,234.00,402.00,21781.00
OtherRevenue,83590.00,67.59,114.33,0.00,2.00,38.50,87.67,7730.25
BookingsCanceled,83590.00,0.00,0.07,0.00,0.00,0.00,0.00,9.00
BookingsNoShowed,83590.00,0.00,0.03,0.00,0.00,0.00,0.00,3.00
BookingsCheckedIn,83590.00,0.79,0.70,0.00,1.00,1.00,1.00,66.00
PersonsNights,83590.00,4.65,4.57,0.00,1.00,4.00,6.00,116.00
RoomNights,83590.00,2.36,2.28,0.00,1.00,2.00,4.00,185.00
DaysSinceLastStay,83590.00,401.07,347.20,-1.00,26.00,366.00,693.00,1104.00
DaysSinceFirstStay,83590.00,403.35,347.97,-1.00,27.00,369.00,697.00,1186.00
SRHighFloor,83590.00,0.05,0.21,0.00,0.00,0.00,0.00,1.00
SRLowFloor,83590.00,0.00,0.04,0.00,0.00,0.00,0.00,1.00
SRAccessibleRoom,83590.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
SRMediumFloor,83590.00,0.00,0.03,0.00,0.00,0.00,0.00,1.00
SRBathtub,83590.00,0.00,0.05,0.00,0.00,0.00,0.00,1.00
SRShower,83590.00,0.00,0.04,0.00,0.00,0.00,0.00,1.00
SRCrib,83590.00,0.01,0.11,0.00,0.00,0.00,0.00,1.00
SRKingSizeBed,83590.00,0.35,0.48,0.00,0.00,0.00,1.00,1.00
SRTwinBed,83590.00,0.14,0.35,0.00,0.00,0.00,0.00,1.00
SRNearElevator,83590.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
SRAwayFromElevator,83590.00,0.00,0.06,0.00,0.00,0.00,0.00,1.00
SRNoAlcoholInMiniBar,83590.00,0.00,0.01,0.00,0.00,0.00,0.00,1.00
SRQuietRoom,83590.00,0.09,0.28,0.00,0.00,0.00,0.00,1.00

In [163]:
# Rename column names to snake_case for convenience.
hotel_df.columns = (
    hotel_df.columns
    .str.replace('([a-z])([A-Z])', r'\1_\2', regex=True)
    .str.replace('([A-Z]+)([A-Z][a-z])', r'\1_\2', regex=True)
    .str.lower()
    .str.strip('_')
)

In [164]:
# Check for duplicates in `id` column to ensure customer id can be used as key and has no duplicates.
hotel_df['id'].duplicated().sum()

np.int64(0)

In [165]:
# Check for null values in all columns.
hotel_df.isnull().sum()

id                              0
nationality                     0
age                          3779
days_since_creation             0
name_hash                       0
doc_id_hash                     0
average_lead_time               0
lodging_revenue                 0
other_revenue                   0
bookings_canceled               0
bookings_no_showed              0
bookings_checked_in             0
persons_nights                  0
room_nights                     0
days_since_last_stay            0
days_since_first_stay           0
distribution_channel            0
market_segment                  0
sr_high_floor                   0
sr_low_floor                    0
sr_accessible_room              0
sr_medium_floor                 0
sr_bathtub                      0
sr_shower                       0
sr_crib                         0
sr_king_size_bed                0
sr_twin_bed                     0
sr_near_elevator                0
sr_away_from_elevator           0
sr_no_alcohol_in_mini_bar       0
sr_quiet_room                   0
dtype: int64

In [166]:
# Examine negative values for age
# Replace with null if data is invalid or misrepresenting
hotel_df.loc[hotel_df['age'] < 0, 'age'].unique()

array([ -7.,  -9., -11., -10.,  -6.,  -1.])

In [167]:
hotel_df.loc[hotel_df['age'] < 0, 'age'] = np.nan

In [168]:
if hotel_df['age'].dropna().apply(float.is_integer).all():
    hotel_df['age'] = hotel_df['age'].astype('Int64')

In [169]:
# Set display option for Pandas DataFrame to show two decimal places for `lodging_revenue` and `other_revenue`
pd.options.display.float_format = '{:.2f}'.format

In [170]:
# Check for inconsistent encodings in categorical variables
categorical_columns = ['distribution_channel', 'market_segment', 'nationality']
for col in categorical_columns:
    print(f"Unique values in {col}:")
    print(hotel_df[col].unique())

Unique values in distribution_channel:
['Corporate' 'Travel Agent/Operator' 'Direct' 'Electronic Distribution']
Unique values in market_segment:
['Corporate' 'Travel Agent/Operator' 'Other' 'Direct' 'Complementary'
 'Groups' 'Aviation']
Unique values in nationality:
['PRT' 'DEU' 'FRA' 'JPN' 'IRL' 'ESP' 'BEL' 'NLD' 'AUT' 'ITA' 'CHN' 'RUS'
 'POL' 'USA' 'HUN' 'CRI' 'MEX' 'CHE' 'ROU' 'GBR' 'BIH' 'BRA' 'FIN' 'AGO'
 'CAN' 'ZAF' 'TWN' 'GRC' 'AUS' 'ISR' 'BGR' 'SAU' 'SWE' 'CYP' 'ARG' 'ARM'
 'CHL' 'MAR' 'MOZ' 'KOR' 'TUN' 'DNK' 'NOR' 'MYS' 'EGY' 'IND' 'HRV' 'CPV'
 'JOR' 'COD' 'DZA' 'LUX' 'TUR' 'IRN' 'LBY' 'PAN' 'COL' 'VEN' 'GNB' 'CZE'
 'AND' 'SVN' 'PER' 'ATF' 'UGA' 'AZE' 'NZL' 'LTU' 'SRB' 'EST' 'KAZ' 'KWT'
 'IDN' 'UKR' 'SVK' 'MLI' 'ARE' 'BGD' 'THA' 'TZA' 'LVA' 'PHL' 'BHR' 'NAM'
 'BOL' 'SGP' 'CMR' 'MLT' 'URY' 'PAK' 'JAM' 'ECU' 'SYC' 'QAT' 'PRY' 'BRB'
 'OMN' 'TMP' 'ABW' 'LBN' 'AIA' 'SLV' 'DMA' 'CUB' 'VNM' 'GEO' 'IRQ' 'GAB'
 'PYF' 'LIE' 'SEN' 'BLR' 'ISL' 'DOM' 'GUY' 'LCA' 'ATA' 'NGA' 'RWA' 'CIV'
 'ALB' 'MKD' 'MNE' 'GTM' 'GHA' 'MDV' 'MCO' 'MUS' 'SYR' 'TGO' 'LKA' 'SUR'
 'KEN' 'MRT' 'HKG' 'CAF' 'NCL' 'STP' 'UZB' 'KIR' 'SDN' 'PRI' 'KNA' 'TJK'
 'SLE' 'LAO' 'COM' 'ETH' 'FRO' 'BEN' 'ZWE' 'ASM' 'BWA' 'ERI' 'SPM' 'JEY'
 'GNQ' 'MDG' 'GIN' 'NIC' 'SWZ' 'CYM' 'SOM' 'ATG' 'KGZ' 'FLK' 'GIB' 'BHS'
 'SMR' 'UMI' 'HTI' 'TKM' 'PNG' 'MMR' 'WLF' 'WSM' 'IOT' 'VIR' 'NRU' 'MWI'
 'VCT' 'GUF' 'PCN' 'FJI' 'TON' 'TCD' 'YEM' 'NPL']

In [171]:
# Remove unnecessary columns
hotel_df.drop(['name_hash', 'doc_id_hash'], axis=1, inplace=True)

In [172]:
hotel_df.head()

,id,nationality,age,days_since_creation,average_lead_time,lodging_revenue,other_revenue,bookings_canceled,bookings_no_showed,bookings_checked_in,...,sr_medium_floor,sr_bathtub,sr_shower,sr_crib,sr_king_size_bed,sr_twin_bed,sr_near_elevator,sr_away_from_elevator,sr_no_alcohol_in_mini_bar,sr_quiet_room
0,1,PRT,51,150,45,371.00,105.30,1,0,3,...,0,0,0,0,0,0,0,0,0,0
1,2,PRT,<NA>,1095,61,280.00,53.00,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,DEU,31,1095,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,FRA,60,1095,93,240.00,60.00,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51,1095,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0

---
## **Exploratory Data Analysis**

### Customer Segmentation

 some explanation

#### RFM Analysis

> ***Recency*** - `days_since_last_stay`
> 
> ***Frequency*** - `bookings_checked_in` 
> 
> ***Monetary*** - `lodging_revenue` + `other_revenue`

In [173]:
rfm_filter = (
    (hotel_df['bookings_checked_in'] == 0) &
    (hotel_df['bookings_no_showed'] == 0) &
    (hotel_df['bookings_canceled'] == 0)
)
hotel_df[rfm_filter]

,id,nationality,age,days_since_creation,average_lead_time,lodging_revenue,other_revenue,bookings_canceled,bookings_no_showed,bookings_checked_in,...,sr_medium_floor,sr_bathtub,sr_shower,sr_crib,sr_king_size_bed,sr_twin_bed,sr_near_elevator,sr_away_from_elevator,sr_no_alcohol_in_mini_bar,sr_quiet_room
2,3,DEU,31,1095,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51,1095,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,JPN,49,1095,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,9,FRA,42,1095,0,0.00,0.00,0,0,0,...,0,0,0,0,1,0,0,0,0,0
10,11,IRL,27,1095,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83581,83582,DEU,48,0,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83583,83584,PRT,49,0,0,0.00,0.00,0,0,0,...,0,0,0,0,1,0,0,0,0,0
83585,83586,ITA,54,0,0,0.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83587,83588,IRL,53,0,0,0.00,0.00,0,0,0,...,0,0,0,0,1,0,0,0,0,0
83589,83590,IRL,13,0,0,0.00,0.00,0,0,0,...,0,0,0,0,0,1,0,0,0,0

As observed, there is a considerable number of customers who have neither canceled, no-showed, nor completed a booking. 

This likely includes individuals whose check-in dates have not yet arrived or those who abandoned the booking process before completion. 

Including these rows in the RFM analysis could dilute the results, as these customers do not actively contribute to the metrics of Recency, Frequency, or Monetary value. To ensure the analysis remains focused, these rows will be excluded from the RFM calculations.

In [174]:
hotel_df['total_revenue'] = hotel_df['lodging_revenue'] + hotel_df['other_revenue']
rfm = hotel_df.loc[~rfm_filter, ['days_since_last_stay', 'bookings_checked_in', 'total_revenue']].copy()

In [178]:
# Define quantiles for R F M
quantiles = rfm.quantile([0.25, 0.5, 0.75]).to_dict()

def rfm_score(value, quantiles, column_name):
    if column_name == 'days_since_last_stay':
        if value <= quantiles[column_name].get(0.25, 0):
            return 4
        elif value <= quantiles.get(0.5, 0):
            return 3
        elif value <= quantiles.get(0.75, 0):
            return 2
        else:
            return 1
    elif column_name == 'bookings_checked_in':
        if value >= 10:
            return 4
        elif value >= 5:
            return 3
        elif value >= 2:
            return 2
        else:
            return 1
    else:
        if value <= quantiles[column_name].get(0.25, 0):
            return 1
        elif value <= quantiles.get(0.5, 0):
            return 2
        elif value <= quantiles.get(0.75, 0):
            return 3
        else:
            return 4

In the above function `rfm_score`, the `Freqency` portion is measured differntly from others, as the `bookings_checked_in` values are very skewed.

Most customers have 1 booking, and very few have higher frequencies. 

Therefore, a custom threshold is used for frequency:

0 or 1 bookings - score 1

2 or more - score 2

5 or more - score 3

10 or more - score 4

In [179]:
rfm['bookings_checked_in'].value_counts()

bookings_checked_in
1     62215
2      1147
3       132
4        59
5        20
6        20
7        16
8        10
9         9
10        7
11        6
13        4
12        4
15        3
29        3
23        2
14        2
0         1
19        1
18        1
24        1
20        1
25        1
40        1
57        1
26        1
17        1
66        1
34        1
Name: count, dtype: int64

In [186]:
rfm['R'] = rfm['days_since_last_stay'].apply(rfm_score, args=(quantiles, 'days_since_last_stay'))
rfm['F'] = rfm['bookings_checked_in'].apply(rfm_score, args=(quantiles, 'bookings_checked_in'))
rfm['M'] = rfm['total_revenue'].apply(rfm_score, args=(quantiles, 'total_revenue'))

# RFM scores into columns `RFM_segment` and `RFM_score`
rfm['RFM_segment'] = rfm['R'].astype(str) + rfm['F'].astype(str) + rfm['M'].astype(str)
rfm['RFM_score'] = rfm[['R', 'F', 'M']].sum(axis=1)

In [187]:
rfm.head()

,days_since_last_stay,bookings_checked_in,total_revenue,R,F,M,RFM_score,RFM_segment
0,151,3,476.30,4,2,4,10,424
1,1100,1,333.00,1,1,4,6,114
3,1100,1,300.00,1,1,4,6,114
5,1097,1,254.00,1,1,4,6,114
7,1100,1,629.00,1,1,4,6,114